.btn{
    padding: 16px 32px;
    background: var(--gradient);
    color: var(--p5);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.3;
    transition: 0.3s;
    border-radius: 4px;
    max-width: max-content;
    cursor: pointer;
    border: none;

}

.btn:hover{
    background: linear-gradient(#f1c540, #ad7503)
 }

 .btn.seta{
    display: flex;
    align-items: center;
 }

 .btn.seta::after{
    content: '';
    display: inline-block;
    width: 18px;
    height: 10px;
    background: url(../../img/icones/seta.svg);
    margin-left: 16px;
    transition: 0.2s;
 }

 .btn.seta:hover::after{
    transform: translateX(4px);
 }
@media(max-width: 600px) {

    .btn {
        padding: 12px 24px;
        font-size: 1rem;
        
    }

}

.ponto-amarelo {
    color: var(--p1);
}

.titulo-interno-bg {
    background: var(--c11);
}

.titulo-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;

}

.titulo-container p {
    text-transform: uppercase;
    margin-bottom: 4px;
}

.container-2{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}

@media (max-width: 830px) {
    .titulo-container{
    
        padding: 40px 20px;
    
    }
    
    .titulo-container p {
        text-transform: lowercase;
     
    }

    
}