.choose-bike{
    padding: 60px 0px 60px 0;
}

.choose-bike h2 {
    max-width: 1200px;
    padding: 0 20px;
    box-sizing: border-box;
    padding-bottom: 40px;
}

.container-choose{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    gap: 40px;
    overflow: auto;
}

.bikes-choose-list{
    flex: 1;
    min-width: 280px;
    align-items: start;
}



.bikes-choose-list img {
    margin-bottom: 16px;
}

.bikes-choose-list h3{
    margin-bottom: 8px;
    position: relative;
    display: flex;
    align-items: center;
}

.bikes-choose-list h3::before{
    content: '';
    display: inline-block;
    width: 12px;
    height: 8px;
    background: var(--p1);
   margin-right: 8px;
 
   
}

.bikes-choose-list span{
    margin-left: 20px;
}


.bikes-choose-list a:hover h3::before{
    transition: 0.3s;
    width: 36px;

   
   
}


.link-choose-list{
    color: inherit;
}


@media (max-width:750px) {
    .container-choose {
        gap: 20px;
    }
}