#nossos-parceiros h2 {
    max-width: 1200px;
   
    padding: 60px 20px 0 20px;
    margin: 0 auto;
    margin-bottom: 60px;

}

#nossos-parceiros{
    padding-bottom: 120px;
}

.parceiros-lista{
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 0px 20px;
    margin: 0 auto;
 
    
}

.parceiros-lista li {
    padding: 32px;
    border-left: 2px solid var(--c2);
    display: flex;
    
}

.parceiros-lista li:first-child,.parceiros-lista li:nth-child(5){
    border-left: none;
}

.parceiros-lista li:nth-child(n +5) {
    border-top: 2px solid var(--c2); 
}

.parceiros-lista li img {
    margin: auto;
}


@media (max-width:750px) {
    .parceiros-lista{
        grid-template-columns: repeat(2,1fr);
    }

    .parceiros-lista li {
        padding: 16px;
    }
    
    .parceiros-lista li:nth-child(odd){
        border-left:none ;
    }

    .parceiros-lista li:nth-child(3),.parceiros-lista li:nth-child(4){
        border-top: 2px solid var(--c2) ;
    }

    #nossos-parceiros h2 {
        margin-bottom: 20px;
}

}